<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>{% block title %}Demo_app ローン審査{% endblock %}</title>
  </head>
  <body>

    <nav>
      <div class="nav-wrapper cyan lighten-1">
        <a href="/" class="brand-logo">ローン審査アプリ</a>
        <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/input_form">情報入力</a></li>
          <li><a href="/history">顧客一覧</a></li>
          <li><a href="/">アカウント</a></li>
          <li><a href="/">サインアウト</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="/input_form">情報入力</a></li>
      <li><a href="/history">顧客一覧</a></li>
      <li><a href="/">アカウント</a></li>
      <li><a href="/">サインアウト</a></li>
    </ul>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
      });
    </script>

    <div class="contents" style="margin:0 20px">
      {% block content %}

      {% endblock %}
    </div>

  </body>
</html>
